extends "base.jade"
block title
    = super()
    | Documentos
block container
    .container_16
        h1.grid_12 Documentos
        a.document_new.grid_4(href='{{ url("document_create")}}') crear nuevo documento
        ul#documents.grid_16
            - for document in object_list
                li.grid_4(class="{{loop.cycle('alpha','','','omega')}}")
                    .preview
                        img(src='{{ url("document_thumb",pk=document.id,size="small",i=1)}}' width='219' height='309')
                        span.fold &nbsp;
                        .options
                            %a.view(href='{{ url("document_detail",pk=document.id)}}') Vista Previa
                            %a.download(href='{{ url("document_download",pk=document.id,format="pdf")}}') Descargar
                            %a.edit(href='{{ url("document_edit",pk=document.id)}}') Editar
                    b= document.title